input[type=range] {
  -webkit-appearance: none;
  height: 2px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: 0;
  background: #aaa;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 22px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #999;
  cursor: ew-resize;
  position: relative
}
