%appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
@mixin flexy-fill {
  @include display(flex); 
  @include align-items(center);
  width: 100%;
}
