article.text-input {
  padding-left: 1rem;
  padding-right: 1rem;
  input {
    display: flex;
    width: 100%;
  }
  .label {
    margin-top: 3rem;
    padding-left: 5px;
  }
  input, .label { 
    font-size: 26pt;
    line-height: 1;
  }
}
