@import "fonts";

body, html {
  padding: 0;
  margin: 0;
  background-color: #111;
  color: #eee;
  text-align: center;
}


article {
  h1 {
    font-size: 50pt;
    margin: 0;
  }
  p {
    font-size: 30pt;
  }
}
